# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Chase Whitener <capoeirab@cpan.org> <cwhitener@gmail.com>
Chase Whitener <capoeirab@cpan.org> <chase.whitener@infotechfl.com>
Gisle Aas <gisle@aas.no> Gisle Aas <aas@oslonett.no>
Gisle Aas <gisle@aas.no> Gisle Aas <gisle@activestate.com>
